<h1> My Webmarks </h1>
</br>
<% Webmark::CATEGORIES.each do |category| %>
	<% @webmarks = find_my_webmarks(category) %>
	
	<% if !@webmarks.empty? %>
		<h2><%= category %> </h2>
		<% @webmarks.each do |webmark| %>
			<div class='wbks'>
				<p>
				  <b>Link:</b>
				  <a href='<%= webmark.link %>'><%= webmark.link %></a></td>
				</p>

				<p>
				  <b>Category:</b>
				  <%= webmark.category %>
				</p>

				<p>
				  <b>Title:</b>
				  <%= webmark.title %>
				</p>

				<p>
				  <b>Description:</b>
				  <%= webmark.description %>
				</p>

				<p>
					<b>Public:</b>
					<% if webmark.public %>
					  <%= 'Yes' %>
					<% else %>
					  <%= 'No' %>
					<% end %>
				</p>
		    <%= link_to 'Edit', edit_webmark_path(webmark) %> |
		    <%= link_to 'Delete', webmark, :confirm => 'Are you sure?', :method => :delete %>
				<br/>
				<br/>
			</div>
		<% end %>
	<% end %>
<% end %>

<%= link_to 'New Webmark', new_webmark_path %>
