<!DOCTYPE html>
<html>
<head>
  <title>Webmarking</title>
	<%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div id="header">
		
		
		
	</div>
	<%= render 'layouts/header' %>
	
	
	<div id="content">
			<div id="pages" class="row">
				<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
				<% end %>
	
				<%= yield %>
			</div>
	</div>


</body>
</html>
